@import url("colors-waybar.css");

* {
  font-family: "Fira Code", "JetBrainsMono Nerd Font";
  font-size: 12px;
  font-weight: 600;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 0 8px;
}

#waybar {
  background: rgba(0, 0, 0, 0.7);
  color: @foreground;
  padding: 4px 10px;
  border: 1px solid @color2;
	border-radius: 20px;
}

#workspaces button {
  color: @color7;
  border-radius: 0px;
  border: none;
  padding: 0 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5.2px;
	margin-right: 4px;
}

#workspaces button.active {
  background: @color2;
	color: #000000;
	border-radius: 20px;
	padding: 0px 16px 0px 16px;
}

#workspaces button:hover {
  box-shadow: none;
}

#custom-update,
#custom-power,
#power-profiles-daemon,
#backlight,
#battery,
#network,
#wireplumber,
#clock,
#custom-power-menu {
	background: @color2;
  padding: 4px 10px;
  margin: 3px;
  border-radius: 12px;
	color: #000000;
}

#tray,
#custom-aur,
#custom-temperature,
#custom-diskspace,
#custom-ani-cli {
  padding: 4px 8px;
  margin: 2px;
	color: #cdd6f4;
	background-color: transparent;
}

#custom-expand-icon {
  margin-right: 10px;
}

tooltip {
  padding: 2px;
	border-radius: 0px;
	background-color: @color2;
	color: #000000
}
