* {
  font: bold 10px Fira Code medium;
}

@import url("colors-waybar.css");

window#waybar {
  background-color: #000000;
}

#workspaces button {
  color: #cdd6f4;
  margin-left: 2px;
  margin-right: 2px;
}

#workspaces button:hover {
  text-shadow: none;
  background: none;
}

#workspaces button.active {
  color: #000000;
  background: @color9;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  padding: 0 14px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 4px;
  border-radius: 2px;
}

#tray,
#group-tray_row,
#memory,
#backlight,
#custom-updates,
#custom-updater,
#hyprland-window,
#wireplumber,
#custom-temperature,
#custom-timeshift,
#custom-power,
#custom-aur,
#battery,
#power-profiles-daemon,
#custom-disk {
  color: #cdd6f4;
  padding: 0px 6px;
  margin-left: 4px;
  margin-right: 7px;
}

#custom-ani{
  padding: 0px 4px;
}

#custom-theme{
  color: #000000;
  padding: 0px 5px;
  margin-left: 15px;
  background-color: @color9;
  margin-top: 6px;
  margin-bottom: 6px;
	border-radius: 2px;
}

#clock {
  color: #000000;
  padding: 0px 5px;
  margin-left: 4px;
	margin-right: 4px;
  background-color: @color9;
  margin-top: 6px;
  margin-bottom: 6px;
	border-radius: 2px;
}

tooltip {
  background: @color1
}

tooltip label {
  color: @color7;
  padding: 16px;
  background-color: #000000;
}
