@import url("colors-waybar.css");

* {
  font: bold 11.6px Fira Code;
}

.modules-left {
  margin-left: 8px;
}

.modules-center {
	margin-left: 30px;
}

.modules-right {
  margin-right: 8px;
	background-color: #000000;
	border-radius: 20px;
	padding-left: 20px;
	padding-right: 14px;
}

#waybar {
	background-color: transparent;
	color: @foreground;
	border-radius: 20px;
}

#workspaces {
	background-color: #000000;
	border-radius: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

#workspaces button {
  color: @color7;
  border-radius: 0px;
  border: none;
  padding: 0 2px;
	margin-bottom: 5px;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 5px;
}

#workspaces button.active {
  background: @color2;
	color: #000000;
	border-radius: 20px;
	padding: 0px 16px 0px 16px;
}

#workspaces button:hover {
  box-shadow: none;
}

#custom-update,
#custom-power,
#custom-ani-cli,
#backlight,
#battery,
#network,
#custom-temperature,
#custom-diskspace,
#wireplumber,
#custom-aur,
#custom-power-menu {
  min-width: 14px;
  margin: 6 10px;
}

#power-profiles-daemon{
	background-color: #000000;
	border-radius: 20px;
  min-width: 14px;
	margin-left: 8px;
	padding-left: 15px;
	padding-right: 13px;
	margin-right: 5px;
}

#custom-spotify,
#tray {
	background-color: #000000;
	border-radius: 20px;
  min-width: 14px;
	margin-left: 8px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 7px;
}

#clock {
	background-color: #000000;
	border-radius: 20px;
	margin-left: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 2px;
}

#custom-expand-icon {
  margin-right: 10px;
}

tooltip {
  padding: 2px;
	border-radius: 0px;
	background-color: @background;
	color: @foreground
}
