* {
  font: bold 11px Fira Code ;
}

@import url("colors-waybar.css");

window#waybar {
  background-color: #000000;
  border-radius: 10px;
}
#workspaces {
  background-color: @color1;
	color: #000000;
}

#workspaces button {
  color: #000000;
  border-radius: 0px;
  border: none;
  padding: 0 5px;
}

#workspaces button.active {
  color: #000000;
  background: @color6;
}

#workspaces button:hover {
  box-shadow: none;
}

#custom-diskspace,
#backlight,
#power-profiles-daemon,
#custom-ani-cli,
#custom-temperature,
#memory,
#custom-power,
#backlight,
#wireplumber{
  border-radius: 12px;
  margin: 6px 3px;
  padding: 6px 12px;
  color: @color7;
}

#clock {
  margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
  padding: 6px 12px;
  color: #000000;
	background-color: @color1;
}

#tray {
	margin: 10px 2px 10px 10px; /*top right bottom left*/
  padding: 0 12px;
	border-bottom: 2px solid @color1;
}


#custom-ani-cli:hover {
  color: @color1;
}

#custom-logo {
  border-radius: 12px;
  margin: 6px 3px;
  padding: 6px 12px;
  color: @color6;
}

#battery {
  margin: 6px 3px;
  padding: 6px 12px;
  color: @color6;
}

#battery.charging {
  color: @color1;
  border-bottom: 2px solid @color7;
}


tooltip {
  border-radius: 2px;
  background: linear-gradient(0.28turn, @color1, @color1, @color1);
}

tooltip label {
  color: @color7;
  border-radius: 2px;
  padding: 16px;
  background-color: #000000;
}
